@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-high-z-index {
    z-index: 9999 !important; /* กำหนดค่า z-index ให้สูงกว่า modal */
}


body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: white;
}